<header>
    <h1>Home - Productos en Tiempo Real</h1>
</header>

<main>
    <section>
        <h3>Productos</h3>
    <div>
        <ul id="products-list"></ul>
    </div>
    </section>

    <section>
        <h3>Formulario de productos</h3>
<form class="form" id="products-form" method="POST" action="/api/products" enctype="multipart/form-data">
    <div>
        <label for="title">Título</label>
        <input type="text" name="title" id="title" placeholder="Ingresa el nombre" required>
    </div>
    <div>
        <label for="price">Precio</label>
        <input type="number" name="price" id="price" placeholder="Ingresa el precio" required>
    </div>
    <div>
        <label for="currency">Divisa</label>
        <input type="text" name="currency" id="currency" placeholder="Ingresa la divisa" required>
    </div>
    <div>
        <label for="description">Descripción</label>
        <input type="text" name="description" id="description" placeholder="Ingresa la descripción" required>
    </div>
    <div>
        <label for="stock">Stock</label>
        <input type="number" name="stock" id="stock" placeholder="Ingresa el stock" required>
    </div>
    <div>
        <label for="category">Categoría</label>
        <input type="text" name="category" id="category" placeholder="Ingresa la categoría" required>
    </div>
    <div>
        <label for="code">Código</label>
        <input type="text" name="code" id="code" placeholder="Ingresa el código" required>
    </div>
    <div>
        <label for="status">¿Está activo?</label>
        <input type="checkbox" name="status" id="status">
    </div>
    <div>
        <label for="file">Imagen</label>
        <input type="file" name="file" id="file" placeholder="Ingresa una imagen">
    </div>
    <div>
        <input type="submit" value="Guardar">
    </div>
</form>


    </section>
    
    <section>
        <h3>Eliminar Producto</h3>
        <div>
            <input type="number" id="input-product-id">
            <button id="btn-delete-product">Eliminar</button>
        </div>
    </section>
    <p id="error-message" style="color:green;"></p>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/api/public/js/products.socket.js"></script>